Repository rocker-org/rocker-versioned2, pull requests merged in 2022-09, with the labels that each got.

#530 Fix source installation issues on R 4.3 by adding `devtools` dependencies to `install_tidyverse.sh` and update the `install2.r` script
  scripts/bin/install2.r
  scripts/install_tidyverse.sh
Labels: bug, rocker scripts

#535 Make a sym link of rstudio-server executable
  dockerfiles/ml-cuda11_4.0.3.Dockerfile
  dockerfiles/ml-cuda11_4.0.4.Dockerfile
  dockerfiles/ml-cuda11_4.0.5.Dockerfile
  dockerfiles/ml-cuda11_4.1.0.Dockerfile
  dockerfiles/ml-cuda11_4.1.1.Dockerfile
  dockerfiles/ml-cuda11_4.1.2.Dockerfile
  dockerfiles/ml-cuda11_4.1.3.Dockerfile
  dockerfiles/ml-cuda11_4.2.0.Dockerfile
  dockerfiles/ml-cuda11_4.2.1.Dockerfile
  dockerfiles/ml-cuda11_devel.Dockerfile
  dockerfiles/ml_4.0.0.Dockerfile
  dockerfiles/ml_4.0.1.Dockerfile
  dockerfiles/ml_4.0.2.Dockerfile
  dockerfiles/ml_4.0.3.Dockerfile
  dockerfiles/ml_4.0.4.Dockerfile
  dockerfiles/ml_4.0.5.Dockerfile
  dockerfiles/ml_4.1.0.Dockerfile
  dockerfiles/ml_4.1.1.Dockerfile
  dockerfiles/ml_4.1.2.Dockerfile
  dockerfiles/ml_4.1.3.Dockerfile
  dockerfiles/ml_4.2.0.Dockerfile
  dockerfiles/ml_4.2.1.Dockerfile
  dockerfiles/ml_devel.Dockerfile
  dockerfiles/rstudio_4.0.0.Dockerfile
  dockerfiles/rstudio_4.0.1.Dockerfile
  dockerfiles/rstudio_4.0.2.Dockerfile
  dockerfiles/rstudio_4.0.3.Dockerfile
  dockerfiles/rstudio_4.0.4.Dockerfile
  dockerfiles/rstudio_4.0.5.Dockerfile
  dockerfiles/rstudio_4.1.0.Dockerfile
  dockerfiles/rstudio_4.1.1.Dockerfile
  dockerfiles/rstudio_4.1.2.Dockerfile
  dockerfiles/rstudio_4.1.3.Dockerfile
  dockerfiles/rstudio_4.2.0.Dockerfile
  dockerfiles/rstudio_4.2.1.Dockerfile
  dockerfiles/rstudio_devel.Dockerfile
  dockerfiles/rstudio_latest-daily.Dockerfile
  scripts/install_rstudio.sh
  stacks/4.0.0.json
  stacks/4.0.1.json
  stacks/4.0.2.json
  stacks/4.0.3.json
  stacks/4.0.4.json
  stacks/4.0.5.json
  stacks/4.1.0.json
  stacks/4.1.1.json
  stacks/4.1.2.json
  stacks/4.1.3.json
  stacks/4.2.0.json
  stacks/4.2.1.json
  stacks/core-latest-daily.json
  stacks/devel.json
Labels: enhancement, rocker scripts, pre-built images

#534 Move RStudio user settings from `.rstudio/monitored/user-settings/user-settings` to `.config/rstudio/rstudio-prefs.json`
  NEWS.md
  scripts/default_user.sh
Labels: enhancement, rocker scripts, pre-built images

#544 Update groupmod for already existing group ids within the container
  scripts/init_userconf.sh
Labels: enhancement

#545 [CI] More reliable RStudio version and commit date capture
  build/make-stacks.R
Labels: bug, CI
